extends ./layout/index

block contenido
    main.container.mt-5
        .row   
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper ultrices dui, et hendrerit lectus. Phasellus finibus non turpis eget ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras nec ullamcorper felis.

                p Proin ultrices lacus vel ante tristique bibendum. Aenean porttitor ex sit amet arcu gravida laoreet. In hendrerit ligula sed ex placerat faucibus. Ut sit amet augue lectus. Donec ut pulvinar mi, id auctor massa. Vivamus tristique dolor nisi, vel interdum nunc dignissim ut.

                p Nulla pulvinar velit id faucibus cursus. Donec cursus sed orci at tincidunt. Fusce quis odio in metus sollicitudin tempus. Suspendisse eu magna aliquet neque consectetur commodo vulputate commodo nulla. Nunc sollicitudin placerat odio ut tempor. Nunc dignissim, augue non placerat rhoncus, odio diam rutrum nulla, a accumsan lorem massa sed libero. Vestibulum et nibh tristique, euismod metus ut, lobortis orci. Suspendisse eleifend euismod euismod. Vestibulum porta euismod venenatis. Sed gravida tincidunt dui, vel varius ante pretium eu.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper ultrices dui, et hendrerit lectus. Phasellus finibus non turpis eget ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras nec ullamcorper felis.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper ultrices dui, et hendrerit lectus. Phasellus finibus non turpis eget ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras nec ullamcorper felis.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper ultrices dui, et hendrerit lectus. Phasellus finibus non turpis eget ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras nec ullamcorper felis.